# Copy this file to .env and fill in the values

# TimeCamp API configuration
TIMECAMP_API_KEY=your_api_key_here # from https://app.timecamp.com/app#/settings/users/me, any user have api token, but you should use administrator api token, as this person have access to all users
TIMECAMP_DOMAIN=app.timecamp.com # for standard cloud offer it's app.timecamp.com
